block adduser

  div#adduserModal.modal.fade
    div.modal-dialog.modal-xl
      div.modal-content
        //- Modal Header
        div.modal-header
          h4.modal-title
            | Add a new employee              
          button.close(
            type="button"
            data-dismiss="modal"
          ) 
            | &times;
        //- Modal Body
        div.modal-body
          form#addUserAction.was-validated 
            //(action="/newuser")
            div.form-group
              label(
                for="username"
              )
                | User name
              input.form-control#username(
                type="username"
                placeholder="Enter username"
                name="username"
                required
              )
              div.valid-feedback
                | Valid.
              div.invalid-feedback
                | Please fill out this field.
            label(
              for="firstname"
            )
              | First name
            input.form-control#firstname(
              type="firstname"
              placeholder="Enter first name"
              name="firstname"
            )
            label(
              for="lastname"
            )
              | Last name
            input.form-control#lastname(
              type="lastname"
              placeholder="Enter last name"
              name="lastname"
            )
            div.form-group
              label(
                for="email"
              )
                | Email
              input.form-control#email(
                type="email"
                placeholder="Enter email"
                name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required
              )
              div.valid-feedback
                | Valid.
              div.invalid-feedback
                | Please fill out this field.
            div.form-group
              label(
                for="password"
              )
                | Password
              input.form-control#password(
                type="password"
                placeholder="Enter password"
                name="password"
                required
              )
              div.valid-feedback
                | Valid.
              div.invalid-feedback
                | Please fill out this field.
            div.form-group
              div.input-group
                div.input-group-prepend
                  label.input-group-text(for="inputGroupSelectProfessions01")
                    | Professions
                select.custom-select#inputGroupSelectProfessions01(required)
                  option(
                    value="" 
                    selected disabled
                  )
                    | Choose...
                  option(
                    value="1"    
                  )
                    | Order-Administrator
                  option(
                    value="2"
                  )
                    | Supervisor / Manager Order Processing
                  option(
                    value="3"  
                  )
                    | Human Resources Developer
                  option(
                    value="4"
                  )
                    | Community Manager
                  option(
                    value="5"
                  )
                    | Category Manager
                  option(
                    value="6"
                  )
                    | Accountant
                  option(
                    value="7"
                  )
                    | Manager
                  option(
                    value="8"
                  )
                    | Owner
                div.valid-feedback
                  | Looks Good!
                div.invalid-feedback
                  | Please choose a profession!
                  
              button#newuser.btn.btn-primary(
                type="submit"
                onclick="send()"
              )
                | Submit
        //- Modal Footer
        div.modal-footer
          button.btn.btn-danger(
            type="button"
            data-dismiss="modal"
          )
            | Abort
