block article_detail

  div#detailModal.modal.fade
    div.modal-dialog.modal-dialog-centered.modal-xl
      div.modal-content
        //- Modal Header
        div.modal-header
          h4.modal-title    
            | Edit article   
          button.close(
            type="button"
            data-dismiss="modal"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Abort editing article" 
          ) 
            | &times;
        //- Modal Body
        div.modal-body
          form#articleDetailForm.needs-validation(
            novalidate
            )
            template#article-template
              div.form-row
                div.col-md-6.mb-3
                  label(
                    for="editname"
                    )
                    | Name
                  input.form-control#editname(
                    type="text"
                    placeholder="Enter name for this article"
                    value="{{name}}"
                    required
                  )
                  div.invalid-feedback
                    | Please provide a valid articlename.
                div.col-md-2.mb-3
                  label(
                    for="editproductid"
                    )
                    | Item number
                  input.form-control#editproductid(
                    type="number"
                    placeholder="Enter item number for this article"
                    value="{{productid}}"
                    disabled
                    )
                  div.invalid-feedback
                    | Please provide a valid item number.
                div.col-md-4.mb-3
                  div.row
                    div.from-group.col
                      label(
                        for="editstate"
                        )
                          | Status
                  div.row
                    div.from-group.col
                      input.form-control.btn#editstate(
                        class="{{ state | btncolor }}"
                        type="button"
                        value="{{ state | status }}"
                        disabled
                        )
                    div.from-group.col
                      button.float-right.btn#edit-status(
                        class="{{ state | btninvertcolor }}"
                        data-id="{{productid}}"
                        type="button"
                        )
                          | {{ state | btntogglestatus }}
              div.form-row
                div.col-md-6.mb-3
                  div.form-group
                    label(
                      for="editprice"
                      )
                        | Price     
                    input.form-control#editprice(
                      type="text"
                      placeholder="0.00"
                      value="{{price}}"
                      required
                      )
                    div.invalid-feedback
                      | Please provide a valid price number.
                div.col-md-6.mb-3
                  div.form-group
                    label(
                      for="editcategory"
                      )
                        | Category     
                    select.form-control#editcategory(
                      data-id="{{category}}"
                      required
                      )
                    div.invalid-feedback
                      | Please provide a valid category.
              div.form-row
                div.col-md-12.mb-3
                  div.form-group
                    label(
                      for="editdescription"
                      )
                        | Description
                    textarea.form-control#editdescription(
                      rows="5"
                      placeholder="Get me some description for this article ..."
                      required
                      )
                        | {{description}}
                    div.invalid-feedback
                      | invalid description
              div.form-row
                div.col.lg-6.mb-3
                  div.form-group.w-50
                    img.float-right.img-fluid#editpicturesrc(
                      type="image/jpeg,image/png,image/gif"
                      src="{{ picturepath | imgpath }}"
                      alt="image"
                      required
                    )
                div.col.lg-4.mb-3
                  button.float-left.btn.btn-danger#deleteImageEdit(
                    data-id="{{picturepath}}"
                    type="button"
                    data-tooltip="tooltip"
                    data-placement="bottom"
                    title="Delete this image immediately"
                    required
                    )
                    i.fa.fa-trash
                div.col.lg-2.mb-3
                  button.float-right.btn.btn-secondary#editImageBtn(
                    type="button"
                    data-tooltip="tooltip"
                    data-placement="bottom"
                    title="Upload a new image"
                    data-toggle="modal"
                    data-target="#imgEditModal"
                    )
                    | Upload Image
              hr
                //- div.modal-footer-temp
              div.form-row
                div.col.md-6.mb-3
                  button.float-left#askPropertiesArticleBtn.btn.btn-success(
                    type="button"
                    data-id="{{productid}}"
                    data-tooltip="tooltip" 
                    data-placement="bottom" 
                    title="Add new properties" 
                    data-toggle="modal"
                    data-target="#propertiesModal"
                    )
                    i.fa.fa-plus
                      |  Add Properties
                div.col.md-6.mb-3
                  button.float-right#edit-article.btn.btn-success(
                    data-id="{{productid}}"
                    type="submit"
                    )
                      i.fa.fa-check
                        | Save
          div.row
            div.col
              hr
              h4 Properties
          table.table.table-striped.table-hover
            thead
              tr
                th
                  | Number
                th
                  | Property
                th
                  | Amount
            tbody#properties    
              template#properties-template
                tr.editProperty.table-row(
                  data-id="{{_id}}"
                  data-tooltip="tooltip"
                  data-placement="bottom"
                  title="Edit this property"
                  data-toggle="modal"
                  data-target="#detailPropertiesModal"
                  )
                  td.subid 
                    | {{subid}}
                  td.property
                    | {{property}}
                  //- td
                  //-   | {{#propertys}}{{property}}{{/propertys}}
                  //- td
                  //-   | {{#propertys}}{{amount}}{{/propertys}} pcs
                  td.amount
                    | {{ amount }} pcs
              template#empty-prop-template
                tr.table-row
                  td(
                    colspan="3"
                    )
                    | No entries available! Add new properties.
