block article_add

  div#addModal.modal.fade
    div.modal-dialog.modal-dialog-centered.modal-xl
      div.modal-content
        //- Modal Header
        div.modal-header
          h4.modal-title    
            | Add a new article   
          button.close(
            type="button"
            data-dismiss="modal"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Abort add new article" 
          ) 
            | &times;
        //- Modal Body
        div.modal-body
          form#addArticleForm.needs-validation(
            novalidate
            )
            div.form-row
              div.col-md-6.mb-3
                label(
                  for="name"
                )
                  | Article name
                input.form-control#name(
                  type="text"
                  placeholder="Enter name for this article"
                  required
                )
                div.invalid-feedback
                  | Please provide a valid articlename.
              div.col-md-6.mb-3
                label(
                  for="productid"
                )
                  | Item number
                input.form-control#productid(
                  type="number"
                  placeholder="Enter item number for this article"
                  required
                )
                div.invalid-feedback
                  | Please provide a valid item number.
            div.form-row
              div.col-md-12.mb-3
                div.form-group
                  label(
                    for="description"
                    )
                    | Description
                  textarea.form-control#description(
                    rows="5"
                    placeholder="Get me some description for this article ..."
                    required
                    )
                  div.invalid-feedback
                    | invalid description
            div.form-row
              div.col-md-3.mb-3
                div.form-group
                  label(
                    for="price"
                    )
                      | Price     
                  input.form-control#price(
                    type="text"
                    placeholder="0000 cent"
                    pattern="[0-9]*"
                    required
                    )
                  div.invalid-feedback
                    | Please provide a valid price number in cent!
              div.col-md-3.mb-3
                label(
                  for="state"
                  )
                    | Status
                div.form-check
                  input.form-check-input#state(
                    type="checkbox"
                    checked
                    )
                  label.form-check-label(
                    for="state"
                    )
                      | active
              div.col-md-6.mb-3
                div.form-group
                  label(
                    for="category"
                    )
                      | Category
                  select.form-control#category(
                    required
                    )
                  div.invalid-feedback
                    | Please provide a valid category.
            div.form-row     
              div.col
                hr
                h4 Image
            div.form-group
              div.form-row
                div.col.lg-6.mb-3
                  div.form-group.w-50
                    img.float-right.img-fluid#picturesrc(
                      type="image/jpeg,image/png,image/gif"
                      alt="image"
                      message="No correct image format"
                      minFiles="1"
                      required
                    )
                div.col.lg-2.mb-3
                  button.float-left.btn.btn-danger#deleteImageAdd(
                    type="button"
                    data-tooltip="tooltip"
                    data-placement="bottom"
                    title="Delete this image immediately"
                    disabled="disabled"
                    )
                    i.fa.fa-trash
                div.col.lg-4.mb-3
                  button.float-right.btn.btn-secondary#addImageBtn(
                    type="button"
                    data-tooltip="tooltip"
                    data-placement="bottom"
                    title="Upload a new image"
                    data-toggle="modal"
                    data-target="#imgModal"
                    )
                    | Upload Image
            hr
                //- div.modal-footer  
            button#add-article.btn.btn-success.float-right(
              type="submit"
              )
                i.fa.fa-check
                  | Create
