extends layout

block nav
  - var cur = "article"

block content
  div#adminc.col.pt-2
    h2.text-center
      | #{title}
    div.nav.navbar.search-bar.header.shadow
      button#newArticleBtn.btn.btn-secondary(
        type="button"
        data-tooltip="tooltip"
        data-placement="bottom"
        title="Create a new article"
        data-toggle="modal"
        data-target="#addModal"
        )
        i.fa.fa-plus
          |  Add
      div.search-container
        form
          input(type="text" placeholder="Search ..." name="search")
          button(type="submit")
            i.fa.fa-search
    
    div
      table.table.table-striped.table-hover
        thead
          tr
            th
              | Number
            th
              | Name
            //- th
            //-   | Properties
            //- th
            //-   | Amount
            th
              | Price
            th
              | Image
        tbody#articles    
          template#articles-template
            tr.editArticle.table-row(
              data-id="{{productid}}"
              data-tooltip="tooltip"
              data-placement="bottom"
              title="Edit this article"
              data-toggle="modal"
              data-target="#detailModal"
              )
              td
                | {{productid}}
              td.name
                | {{name}}
              //- td
              //-   | {{#propertys}}{{property}}{{/propertys}}
              //- td
              //-   | {{#propertys}}{{amount}}{{/propertys}} pcs
              td.price
                | {{ price | euro }}
              td.image.w-25
                img.img-fluid(
                  data-id="{{picturepath}}"
                  src="{{ picturepath | imgpath }}"
                  alt="image"
                  )
          template#empty-template
            tr.table-row
              td(
                colspan="5"
                )
                | No entries available! Try again later.              
                  
    include article_add
    
    include article_detail
    
    include article_image
    
    include article_image_edit
    
    include article_delete
    
    div#errorTableObjekt
        
block append scripts              
  script(type='text/javascript' src='js/article.js')
  script(type='text/javascript' src='js/mustache/mustache.js')
  script(type='text/javascript' src='js/mustache/mustache-wax.js')
  script(type='text/javascript' src='js/formatters.js')
       
