extends layout

block nav
  - var cur = "category"

block content
  div#adminc.col.pt-2
    h2.text-center
      | #{title}
    div.nav.navbar.search-bar.header.shadow
      button#newCategoryBtn.btn.btn-secondary.btn-sm(type="button" data-tooltip="tooltip" data-placement="bottom" title="Create a new category" data-toggle="modal" data-target="#addModal")
        i.fa.fa-plus
          |  Add
      div.search-container
        form
          input(type="text" placeholder="Search ..." name="search")
          button(type="submit")
            i.fa.fa-search
            
    div
      table.table.table-striped.table-hover
        thead
          tr
            th
              | Name
            th
              | Image
        tbody#categories    
          template#categories-template
            tr.editCategory.table-row(
              data-id="{{_id}}"
              data-tooltip="tooltip"
              data-placement="bottom"
              title="Edit this category"
              data-toggle="modal"
              data-target="#detailModal"
              )
              td.name
                | {{categoryname}}
              td.image.w-25
                img.img-fluid(
                  data-id="{{picturepath}}"
                  src="{{ picturepath | imgpath }}"
                  alt="image"
                  )
          template#empty-template
            tr.table-row
              td(
                colspan="2"
                )
                | No entries available! Try again later.              

    include category_add
    
    include category_detail
    
    include category_image
    
    include category_image_edit
    
    include category_delete

    div#errorTableObjekt
    
block append scripts              
  
  //- script(type='text/javascript' src='js/helper.js' defer='defer')
  //- script(type='text/javascript' src='js/db_sidebar.js' defer='defer')
  //- script(type='text/javascript' src='js/response.js' defer='defer')
  //- script(type='text/javascript' src='js/services.js' defer='defer')
  //- script(type='text/javascript' src='js/request.js' defer='defer')
  //- script(type='text/javascript' src='js/tooltip.js')
  script(type='text/javascript' src='js/form_validator.js')
  script(type='text/javascript' src='js/category.js')
  script(type='text/javascript' src='js/mustache/mustache.js')
  script(type='text/javascript' src='js/mustache/mustache-wax.js')
  script(type='text/javascript' src='js/formatters.js')  

            
      
