block category_create_new

  div#addCategoryModal.modal.fade
    div.modal-dialog.modal-md
      div.modal-content
        //- Modal Header
        div.modal-header
          h4#addCategoryTitel.modal-title    
            | Add a new category   
          button.close(
            type="button"
            data-dismiss="modal"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Abort to add new category" 
          ) 
            | &times;
        //- Modal Body
        div.modal-body
          form#addCategoryAction.was-validated 
            //(action="/newuser")
            div.form-group
              label(
                for="categoryname"
              )
                | Category Name
              input.form-control#categoryname(
                type="categoryname"
                placeholder="Enter name of category"
                name="categoryname"
                required
              )
              div.valid-feedback
                | Valid.
              div.invalid-feedback
                | Please fill out this field.
            div.form-group
              label(
                for="categorypicture"
              )
                | Select Picture
              input.form-control#categorypicture(
                type="categorypicture"
                placeholder="Upload a picture for this new category"
                name="categorypicture"
              )                
        //- Modal Footer
        div.modal-footer
          button#closeAddNewCategoryBtn.btn.btn-danger(
            type="button"
            data-dismiss="modal"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Abort to add new category" 
          )
            i.fa.fa-close
              | Abort
          button#submitNewCategoryBtn.btn.btn-primary(
            type="submit"
            onclick="createCategory()"
            data-dismiss="modal"
          )
            i.fa.fa-check
              | Submit
