block group_add_user

  div#groupAddUserModal.modal.fade
    div.modal-dialog.modal-dialog-centered.modal-xl
      div.modal-content
        //- Modal Header
        div.modal-header
          h4.modal-title
            | Choose one user
          button.close(
            type="button"
            data-dismiss="modal"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Close add user to group" 
          ) 
            | &times;
        //- Modal Body
        div.modal-body
        
          div#jsonAddUserGroupObjekt
