block group_details

  div#detailModal.modal.fade
    div.modal-dialog.modal-xl
      div.modal-content
        //- Modal Header
        div.modal-header
          h4#modalDetailTitel.modal-title        
          button.close(
            type="button"
            data-dismiss="modal"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Close group details" 
            onclick="setDetailsFalse()"
          ) 
            | &times;
        //- Modal Body
        div.modal-body
        
          div#jsonDetailObjekt
          
        //- Modal Footer
        div.modal-footer
          button#addUserGroupBtn.btn.btn-secondary(
            type="button"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Add user to current group" 
            data-toggle="modal"
            data-target="#groupAddUserModal"
            onclick="getUsersForGroup()"
          )
            i.fa.fa-plus
              | Add user
          button#editDetailGroupBtn.btn.btn-success(
            type="button"
            onclick="validateForm()"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Save new changes and close user details" 
          )
            i.fa.fa-check
              | Save changes
