extends default

block content
  div.col.pt-2
    h2.text-center
      | Willkommen Mitarbeiter
    p
      | Liste mit offenen Bestellungen
    table.table.table-striped
      thead
        tr
          th
            | Artikelnummer
          th
            | Kundennummer
          th
            | Bestelldatum
      tbody
        tr
          td
            | #{order+2}
          td
            | #{order+1000000}
          td
            | #{date}           
        tr
          td
            | #{order+1}
          td
            | #{order+1000000}
          td
            | #{date}        
        tr
          td
            | #{order-1}
          td
            | #{order+1000000}
          td
            | #{date}             
              
