extends layout

block body  
  body(onload="getOrders()")
  //- , setStatusOnButton()

block nav
  - var cur = "order"

block content
  div.col.pt-2
    h2.text-center #{title}
    div.nav.navbar.search-bar
      div.dropdown
        button#statusbtn.btn.btn-secondary.dropdown-toggle(
          type="button" 
          data-tooltip="tooltip" 
          data-placement="top" 
          title="Set status" 
          data-toggle="dropdown"
          )
          | Status
          span.caret
        ul.dropdown-menu
          li
            a.dropdown-item(
                href=`?order=ordered`  
            )
              | Ordered
          li
            a.dropdown-item(
                href=`?order=payed`              
            )
              | Payed
          li
            a.dropdown-item(
                href=`?order=packed`              
            )
              | Packed
          li
            a.dropdown-item(
                href=`?order=finished`
            )
              | Finished
          li
            a.dropdown-item(
                href=`?order=returned`
            )
              | Returned
          li
            a.dropdown-item(
                href=`?order=all`
            )
              | All
        div.search-container
          form
            input(type="text" placeholder="Search.." name="search")
            button(type="submit" onclick=("orderSearch()"))
              i.fa.fa-search

    include order_details

    div#jsonTableObjekt
      
block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  script(type='text/javascript' src='js/helper.js')
  script(type='text/javascript' src='js/services.js' defer='defer')
  script(type='text/javascript' src='js/form_data.js' defer='defer')
  script(type='text/javascript' src='js/request.js' defer='defer')
  script(type='text/javascript' src='js/db_sidebar.js')
  script(type='text/javascript' src='js/tooltip.js')

    
            
      
