extends layout

block body  
  body(onload="getOrders()")
  //- , setStatusOnButton()

block nav
  - var cur = "order"

block content
  div#adminc.col.pt-2
    h2.text-center
      | #{title}
    div.nav.navbar.search-bar.header.shadow
      div.dropdown
        button#statusbtn.btn.btn-secondary.dropdown-toggle(
          type="button" 
          data-tooltip="tooltip" 
          data-placement="top" 
          title="Set status" 
          data-toggle="dropdown"
          )
          | Status
          span.caret
        ul.dropdown-menu
          li
            a.dropdown-item(
                href=`?ap=ordered`  
            )
              | Ordered
          li
            a.dropdown-item(
                href=`?ap=payed`              
            )
              | Payed
          li
            a.dropdown-item(
                href=`?ap=packed`              
            )
              | Packed
          li
            a.dropdown-item(
                href=`?ap=finished`
            )
              | Finished
          li
            a.dropdown-item(
                href=`?ap=returned`
            )
              | Returned
          li
            a.dropdown-item(
                href=`?ap=all`
            )
              | All
      div.search-container
        form
          input(type="text" placeholder="Search.." name="search")
          button(type="submit" onclick=("orderSearch()"))
            i.fa.fa-search

    include order_detail
    
    include order_change_status
    
    include order_log

    div#jsonTableObjekt
    
    div#errorTableObjekt
    
    div#status.text-center
      
