extends layout

block body  
  body(onload="getUsers()")

block nav
  - var cur = "user"

block content
  div#adminc.col.pt-2
    h2.text-center
      | #{title}
    div.nav.navbar.search-bar.header.shadow
      button#newUserBtn.btn.btn-secondary(
        type="button"
        data-tooltip="tooltip"
        data-placement="bottom"
        title="Create a new user"
        data-toggle="modal"
        data-target="#addModal"
        )
        i.fa.fa-user-plus
          |  Add
      //- div.search-container
      //-   form(action="/userSearching")
      //-     input(type="text" placeholder="Search.." name="search")
      //-     button(type="submit")
      //-       i.fa.fa-search
            
    include user_add
    
    include user_detail
    
    div#jsonTableObjekt
    
    div#errorTableObjekt
  
block append scripts 
  script(type='text/javascript' src='js/user_mgmt.js' defer='defer')
        
