block user_details

  div#detailModal.modal.fade
    div.modal-dialog.modal-lg
      div.modal-content
        //- Modal Header
        div.modal-header
          h4#modalDetailTitel.modal-title        
          button.close(
            type="button"
            data-dismiss="modal"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Close user details"
            onclick="setDetailsFalse()"
          ) 
            | &times;
        //- Modal Body
        div.modal-body        
                
          div#jsonDetailObjekt
          
        //- Modal Footer
        div.modal-footer
          button#resetPwdUserBtn.btn.btn-danger(
            type="button"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Reset password for current user" 
          )
            i.fa.fa-trash
              | Reset password
          button#patchStatusUserBtn.btn.btn-warning(
            type="button"
            onclick="patchUserStatus()"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Set new status for current user" 
          )
            i.fa.fa-wrench
              | Set status
          button#editDetailUserBtn.btn.btn-success(
            type="button"
            onclick="validateForm()"
            data-tooltip="tooltip" 
            data-placement="bottom" 
            title="Save new changes and close user details" 
          )
            i.fa.fa-check
              | Save changes

          
  div.modal.fade#user_password_modal.modal
    div.modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title="Reset Password"      
        div.modal-body
          form
            .form-group
              label(for="user-password-first")="New Password:"
              input.form-control(type="password" id="user-password-first")
            .form-group
              label(for="user-password-sec")="Repeat Password:"
              input.form-control(type="password" id="user-password-sec")
              <small id="user-password-help" class="text-danger">
              </small>   
        div.modal-footer
          button.btn.btn-danger#user-btn-change-password(type="button")="Reset Password"
          button.btn.btn-secondary(type="button"  data-dismiss="modal")="Cancel"
