block user_modal

    div.modal.fade#user_modal.modal
        div.modal-dialog.modal-dialog-centered
            div.modal-content
                div.modal-header
                    h5.modal-title="User Details"
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                         | &times;
        
      
                div.modal-body
                    form
                        div.row
                            div.col
                                div.form-group
                                    label(for="user-fname")="Firstname:"
                                    input.form-control(type="text" id="user-fname" disabled)
                            div.col
                                div.form-group
                                    label(for="user-lname")="Lastname:"
                                    input.form-control(type="text" id="user-lname" disabled)
                        .form-group
                            label(for="user-mail")="E-Mail:"
                            input.form-control(type="email" id="user-mail" disabled)
                            


        
                div.modal-footer
                    button.btn.btn-danger.mr-auto#btn-change-password-open(type="button")="Change Password"
                    button.btn.btn-secondary(type="button"  data-dismiss="modal")="Close"
    
    div.modal.fade#password_modal.modal
        div.modal-dialog.modal-dialog-centered
            div.modal-content
                div.modal-header
                    h5.modal-title="Change Password"      
                div.modal-body
                    form
                        .form-group
                            label(for="password-old")="Old Password:"
                            input.form-control(type="password" id="password-old")
                        .form-group
                            label(for="password-newfirst")="New Password:"
                            input.form-control(type="password" id="password-newfirst")
                        .form-group
                            label(for="password-newsecound")="Repeat Password:"
                            input.form-control(type="password" id="password-newsecound")
                            <small id="password-help" class="text-danger">
                            </small>   
                div.modal-footer
                    button.btn.btn-danger#btn-change-password(type="button")="Change Password"
                    button.btn.btn-secondary(type="button"  data-dismiss="modal")="Cancel"
    
    div.modal.fade#change_password_modal.modal
        div.modal-dialog.modal-dialog-centered
            div.modal-content
                div.modal-header
                    h3.modal-title="Are you sure to change your password?"      
                div.modal-footer
                    button.btn.btn-danger#btn-change-password-accept="Yes"
                    button.btn.btn-secondary#btn-change-password-cancel="No"
