block vertical_navbar
  div#mySidebar.sidebar.nav-pills.bg-dark.navbar-dark
    a.closebtn(
      href="javascript:void(0)"
      onclick="closeNav()"
    )
      | &times;
    div.header.shadow
      left.text-secondary            
        h5.pl-2
          i#usermng.fa.fa-caret-down(onclick="hideNavs(\"usermng\",\"userNavs\")")
            |  User Management
    a.nav-link.userNavs(
      class=(name === "user" ? "active" : undefined)
      href=`/?ap=users`
    )
      i.fa.fa-address-book
        |  Users
    a.nav-link.userNavs(
      class=(name === "group" ? "active" : undefined)
      href=`/?ap=groups`
    )
      i.fa.fa-group
        |  Groups
    div.header.shadow.mt-3
      left.text-secondary       
        h5.pl-2
          i#prdmng.fa.fa-caret-down(onclick="hideNavs(\"prdmng\",\"prdNavs\")")
            |  Product Management
    a.nav-link.prdNavs(
      class=(name === "article" ? "active" : undefined)
      href=`/?ap=articles`
    )
      i.fa.fa-newspaper-o
        |  Articles
    a.nav-link.prdNavs(
      class=(name === "category" ? "active" : undefined)
      href=`/?ap=categories`
    )
      i.fa.fa-window-restore
        |  Categories
    div.header.shadow.mt-3
      left.text-secondary            
        h5.pl-2
          i#ordprog.fa.fa-caret-down(onclick="hideNavs(\"ordprog\",\"ordNavs\")")
            |  Order Progress
    a.nav-link.ordNavs(
      class=(name === "ordered" ? "active" : undefined)
      href=`/?ap=ordered`
    )
      i.fa.fa-laptop
        |  Ordered
    a.nav-link.ordNavs(
      class=(name === "payed" ? "active" : undefined)
      href=`/?ap=payed`
    )
      i.fa.fa-money
        |  Payed
    a.nav-link.ordNavs(
      class=(name === "packed" ? "active" : undefined)
      href=`/?ap=packed`
    )
      i.fa.fa-shopping-bag
        |  Packed
    a.nav-link.ordNavs(
      class=(name === "finished" ? "active" : undefined)
      href=`/?ap=finished`
    )
      i.fa.fa-calendar-check-o
        |  Finished
    a.nav-link.ordNavs(
      class=(name === "returned" ? "active" : undefined)
      href=`/?ap=returned`
    )
      i.fa.fa-mail-reply
        |  Returned
    a.nav-link.ordNavs(
      class=(name === "all" ? "active" : undefined)
      href=`/?ap=all`
    )
      i.fa.fa-newspaper-o
        |  All
    div.header.shadow.mt-3
      left.text-secondary            
        h5.pl-2
          i#session.fa.fa-caret-down(onclick="hideNavs(\"session\",\"sesNav\")")
            |  Session
    a.nav-link.sesNav(
      class=(name === "logout" ? "active" : undefined)
      href="#"
      id="logout"
    )
      i.fa.fa-sign-out
        |  Logout 
