block vertical_navbar
  div#mySidebar.sidebar.nav-pills.bg-dark.navbar-dark
    a.closebtn(
      href="javascript:void(0)"
      onclick="closeNav()"
    )
      | &times;
    a.nav-link(
      class=(name === "user" ? "active" : undefined)
      href=`/user`
    )
      | User
    a.nav-link(
      class=(name === "article" ? "active" : undefined)
      href=`#`
    )
      | Article
    a.nav-link(
      class=(name === "category" ? "active" : undefined)
      href=`#`
    )
      | Category
    hr.white
    center
      h2.text-secondary Order
    a.nav-link(
      class=(name === "orderedOrder" ? "active" : undefined)
      href=`/?order=ordered`
    )
      | Ordered
    a.nav-link(
      class=(name === "payedOrder" ? "active" : undefined)
      href=`/?order=payed`
    )
      | Paid
    a.nav-link(
      class=(name === "packedOrder" ? "active" : undefined)
      href=`/?order=packed`
    )
      | Packed
    a.nav-link(
      class=(name === "finishedOrder" ? "active" : undefined)
      href=`/?order=finished`
    )
      | Finished
    a.nav-link(
      class=(name === "returnedOrder" ? "active" : undefined)
      href=`/?order=returned`
    )
      | Returned
    a.nav-link(
      class=(name === "allOrder" ? "active" : undefined)
      href=`/?order=all`
    )
      | All
    hr.white
    a.nav-link(
      class=(name === "logout" ? "active" : undefined)
      href=`#`
    )
      | Logout 
