block vertical_navbar
  div#mySidebar.sidebar.nav-pills.bg-dark.navbar-dark
    a.closebtn(
      href="javascript:void(0)"
      onclick="closeNav()"
    )
      | &times;
    a.nav-link(
      class=(name === "user" ? "active" : undefined)
      href=`/user`
    )
      | User
    a.nav-link(
      class=(name === "article" ? "active" : undefined)
      href=`#`
    )
      | Article
    a.nav-link(
      class=(name === "category" ? "active" : undefined)
      href=`#`
    )
      | Category
    hr.white
    center
      h2.text-secondary Order
    a.nav-link(
      class=(name === "openOrder" ? "active" : undefined)
      href=`/?order=open`
    )
      | Open
    a.nav-link(
      class=(name === "paidOrder" ? "active" : undefined)
      href=`/?order=paid`
    )
      | Paid
    a.nav-link(
      class=(name === "packedOrder" ? "active" : undefined)
      href=`/?order=packed`
    )
      | Packed
    a.nav-link(
      class=(name === "returnsOrder" ? "active" : undefined)
      href=`/?order=returns`
    )
      | Returns
    hr.white
    a.nav-link(
      class=(name === "logout" ? "active" : undefined)
      href=`#`
    )
      | Logout 
